@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --c1: #4a7351;
  --c2: #a7be77;
  --c3: #eab869;
  --c4: #c15c16;
  --c5: #932f29;
}

html,
body {
  height: 100%;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  background-color: var(--c5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

header > button {
  width: 75px;
  margin: 10px 10px;
  padding: 10px;
}

button {
  background-color: var(--c4);
  color: white;
  border-radius: 20px;
  text-align: center;
}

button:hover {
  background-color: #d66e24;
}

main {
  background-color: var(--c3);
}

#home {
  display: grid;
  grid-template-columns: auto 400px;
}

#home > div {
  display: grid;
  font-size: 1.6rem;
  padding-left: 20px;
  justify-items: center;
  align-content: center;
  background: linear-gradient(
    217deg,
    rgba(234, 184, 105, 1) 35%,
    rgba(147, 47, 41, 1) 95%
  );
}

#home > section {
  background: url("./restaurant.jpg");
  background-size: 100%;
}

#menu {
  background: linear-gradient(
    180deg,
    rgba(234, 184, 105, 1) 0%,
    rgba(147, 47, 41, 1) 100%
  );
  display: grid;
  justify-content: center;
  align-items: center;
}

.food-card {
  /* background-color: #4a7351; */
  display: grid;
  grid-template-columns: 200px 500px;
  height: 100px;
  margin: 10px;
  gap: 10px;
}

.food-card > div {
  border: 2px solid var(--c1);
  background-color: var(--c2);
  padding: 4px;
  box-shadow: 0 0 5px white;
  display: grid;
  align-items: center;
}

.food-price {
  text-align: end;
  margin-right: 12px;
}

#f-frenchfries {
  background: url("./frenchfries.jpg");
}
#f-friedchicken {
  background: url("./friedchicken.jpg");
}
#f-burger {
  background: url("./burger.jpg");
}
#f-pizza {
  background: url("./pizza.jpg");
}
#f-eggpotato {
  background: url("./eggpotato.jpg");
}
#f-icecream {
  background: url("./icecream.jpg");
}

#contact {
  display: grid;
  justify-items: center;
  align-content: center;
  font-size: 1.3rem;
}

#contact > section {
  background: url("./map.png");
  background-size: 100%;
  border: 4px solid var(--c1);
  width: 400px;
  height: 260px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.377);
}
